__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store

.env
.venv/
venv/
env/
.ipynb_checkpoints/

.cache/
models/
wandb/
*.log

data/raw/*
data/processed/*
!data/README.md

outputs/*
!outputs/README.md

*.sqlite-shm
*.sqlite-wal
